---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title{% if page.url == "/publications/" and site.author.googlescholar %} publications__page-title{% endif %}">
        {{ page.title }}
        {% if page.url == "/publications/" and site.author.googlescholar %}
          <a class="mobile-publications__scholar-button publications__mobile-scholar-button" href="{{ site.author.googlescholar }}">Google Scholar</a>
        {% endif %}
      </h1>
      {% if page.url == "/publications/" and site.author.googlescholar %}
        <div class="publications__sync-note">
          see also <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
        </div>
      {% endif %}
    {% endunless %}
    {{ content }}
  </div>
</div>
